- name: Baja proceso TS PATROL
  become: yes
  become_user: patrol
  become_method: su
  become_exe: sudo su -
  shell: |
      /patrol/Patrol3/scripts.d/S50PatrolAgent.sh stop
      sleep 10

- name: Validar proceso PatrolAgent
  shell: |
      if [ $(pa -eo args | grep -v grep | grep -qw PatrolAgent | wc -l) -eq 0 ]
      then
      echo INACTIVO
      elif [ $(pa -eo args | grep -v grep | grep -qw PatrolAgent | wc -l) -eq 0 ]
      then
      echo INACTIVACION_FALLIDA
      fi      
  register: statuspa

- name: Resultado de la baja del proceso TS PATROL
  debug:
    msg:
       - "PatrolAgent ........{{ statuspa.stdout }}"
  when: statuspa.stdout == "INACTIVO"

- name: Resultado de la baja del proceso TS PATROL
  fail:
    msg:
       - "PatrolAgent ........{{ statuspa.stdout }}"
       - "El procesos no pudo ser INACTIVADO correctamente"
       - "Favor de contactar a RTMonitoring"
  when: statuspa.stdout == "INACTIVACION_FALLIDA"
